footer {
  padding-block: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  a {
    color: #ff006b;
    font-weight: 400;
    font-size: 16px;
  }

  span {
    font-size: 16px;
    font-weight: 400;
    color: #989898;
  }

  @media (width < 768px) {
    padding-block: 20px;
    flex-direction: column;
  }
}
