.ads__grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  margin-bottom: 30px;

  @media(width >= 768px) {
    gap: 20px;
  }
}

.ads__grid__element {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
  max-width: 134px;
  color: black;

  div {
    padding-inline: 12px;
  }

  img {
    border-radius: 12px;
    width: 100%;
  }

  @media (width >= 768px) {
    max-width: 216px;
  }
  @media(width > 1200px) {
    max-width: 224px;
  }
}

.show-more__button {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 12px 16px;
  border: 2px solid #ff006b;
  border-radius: 10px;
  color: #ff006b;
  font-size: 16px;
  font-weight: 600;

  @media (width >= 768px) {
    padding: 20px;
  }
}