.section__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-block: 30px 40px;

  h1 {
    font-size: 36px;
    color: black;
    font-weight: 500;

    @media (width >= 768px) {
      font-size: 40px;
      align-items: center;
    }
    @media (width >= 1200px) {
      font-size: 48px;
    }
  }
}

.add__ad {
  background-color: #ff006b;
  border-radius: 10px;
  color: white;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  @media (width >= 768px) {
    padding: 20px;
  }

  span {
    display: none;
    @media (width >= 768px) {
      display: block;
    }
  }
}
